<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create item</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${item}">
    <label for="name">введите имя книги</label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="cost">введите цену</label>
    <input type="text" th:field="*{cost}" id="cost">
    <br/>
    <input type="submit" value="создать">
</form>


</body>
</html>